$default-font: "Helvetica-7", sans-serif
$main: #fff
$main-accent: #f4f6f8
$main-2: #0f7cbf
$text: #232a30
$text-minor: #949697
$text-footer: #7e878d
$text-accent: #b19377
$black: #000

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
